/* Universal */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(42, 24, 108, 1);
    color: white;
    font-family: Inter;
    
    /* common */
  .title{
    font-size: 3.75rem;
    font-weight: 800;
  }
  .paragraph{
    color: #ffffffb3;
    padding-bottom: 18px;
    padding-top: 10px;
  }


}
/* navbar */
nav{
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 20px;
    
    
}
nav>h2{
    font-size:40px ;
    font-weight: 700;
}
nav>h2>span{
        color: rgb(250, 5, 111);
}
nav>ul{
    display: flex;
    gap: 40px;
    list-style-type: none;    
}
nav>ul>li{
   
    align-content: center;
}
nav>button{
background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: white;
  justify-content: center;
align-items: center;
gap: 4;
padding: 12px 16px 12px 16px;
border: 1px solid black;
border-radius: 10000px;
}
nav>img{
    display: none;
}

/* hero */
.hero{
  background: url(../assets/hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
    
}

.circle{
      position: relative;
     left: 590px;
    top: 90px;
}
.mic{
    position: relative;
    left: 710px;
    top:-190px ;
 
}
.new{
    background-color: rgba(0, 255, 136, 1);
    color: rgba(0, 0, 0, 0.936);
    font-size: 1.25rem;
    font-weight: 600;
    width:50px ;
    padding: 8px 16px;
    border-radius: 31px;  
    position: relative;
    left:875px;
    top: -400px;
    transition: 0.3s 1s;
}
.new:hover{
    cursor: pointer;
    transform: translateY(-60px);
}
.tachwave{
    justify-items: center;
    position: relative;
    top: -88px;
}
.btn{
    display: flex;
    gap: 20px;
    padding-bottom: 70px;
}
.btn-1{
  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
  color: white;
  justify-content: center;
align-items: center;
font-size: 1.25rem;
font-weight: 600;
padding: 12px 16px 12px 16px;
border: 1px solid var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1))) ;
border-radius: 10000px; 
}

.btn-1 img{
   padding-right: 5px; 
}
.btn-2{
    color: rgba(0, 255, 136, 1);
    background: transparent;
   justify-content: center;
align-items: center;
font-size: 1.25rem;
font-weight: 600;
padding: 12px 16px 12px 16px;
border: 1px solid rgba(0, 255, 136, 1);
border-radius: 10000px;  
}
.btn-2 img{
   padding-right: 5px;
}

/* main */
main{
    max-width: 1240px;
    margin: 0 auto;
}
.about{
    justify-content: center;
    text-align: center;
    padding-bottom:50px ;
}
.line{
    border-top: 1px solid white;
    padding-bottom:50px ;
}
.option{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-bottom:50px ;
}
.listeners{
    text-align: center;
  
}
.listeners h2{
    font-size: 2.90rem;
    font-weight: 800;
    color: rgba(0, 255, 136, 1);
}

/* grid */
  
.grid{
    max-width: 1240px;
    margin: 0 auto;
}
.grid>h2{
    text-align: center;
    padding-bottom: 30px;
    
}
.h4{
    font-size: 1.5rem;
    font-weight: 600;
}
.child{
    border: 1px solid rgba(42, 24, 108, 1);
    border-radius: 25px;
    padding-left: 15px  ;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 30px;
    box-shadow: 9px 9px 9px -120px;
    background-color: rgb(33, 17, 89);

   
}

.parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px 15px;
    padding-bottom: 50PX;
}
.child-1{
    grid-row: span 2;
    text-align: center;
 

}
.child-2{
    grid-column: span 2;
     text-align: center;
    
}
.child-3{
     grid-column: span 2;
     text-align: center;
}
.child-4{
     grid-column: span 2;
     text-align: center;
}
.child-5{
     text-align: center;
}

/* featured */
 .featured{
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 90px;
 }
 .featured>h2{
    text-align: center;
    padding-bottom:34px ;
 }
 .card-parent{
    display: flex;
    justify-content: space-between;
    /* overflow: hidden; */
 }
 .card{
    width: 350px;
     margin: 0px;
    padding: 0px;
    
 }
 .card>iframe{
    border-radius: 25px;
 }
 .video-details{
    padding: 10px;
 }
 .time{
    display: flex;
    gap: 10px;
    color:rgba(0, 255, 136, 1) ;
 }
 /*host  */
.host{
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 75px;
}
.host>h2{
     text-align: center;
    padding-bottom:34px ;
}
.hoster{
    display: flex;
    gap: 40px;
    align-items: center;
}
.h3{
    font-size: 2.25rem;
}
.link{
    display: flex;
    gap: 15px;
}
.social{
    border: 1px solid rgb(211, 136, 31);
    border-radius: 50%;
}
.social img{
    padding: 5px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

/* footer */
 .footer{
background: url(../assets/footer-bg.png);
background-size: cover;
background-repeat: no-repeat;
background-position: left right;
    /* max-width: 1240px; */
    /* margin: 0 auto; */
    margin-bottom: 40px;
 }
 .footer-container h2{
    font-size: 3.75rem;
text-align: center;
padding-top: 120px;
padding-bottom: 10px;
 }
 .footer-container{
    padding-bottom: 100px;
 }
 

 .midea{
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .link-2{
    display: flex;
    padding-left: 32px;
    align-items: center;
    gap: 7px;
  }
  .copyright{
    text-align: center;
  }
  .footer-container>h2>span{
     color: rgb(250, 5, 111);
  }















@media screen and (max-width:576px) {
    /* navbar */
    nav>h2{
        margin-left:50px;
    }
    nav>button{
        display: none;
    }
    nav>ul>li{
        display: none;
    }
     nav>img {
    display: inline;
    margin-right: 50px;
    height: 15px;
    padding-top: 20px;
}


/* hero */


.title{
    font-size: 2.75rem;
}
 .paragraph{
    text-align: center;
 }
 .circle img{
    width: 100px;
    height: 100px;
 }
 .circle{
      position: relative;
     left: 160px;
    top: 25px;
}
.mic img{
    width:35px ;
    height: 50px;
}
.mic{
    position: relative;
    left: 193px;
    top:-58px ;

} 
.tachwave{
    position: relative;
    top: -64px;
}
.tachwave>h2{
     font-size: 2rem;
}
.new{
    position: relative;
    left:225px;
    top: -140px;
     font-size: 1rem;
    font-weight: 400;
    width:36px ;
    padding: 3px 8px;

}

/* main */
.option{
    flex-wrap: wrap;
    margin: 10px;
    
}
.about>h2{
     font-size: 2rem;
}

/* grid */

  .parent{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 15px;
  }
.grid>h2{
    font-size: 2rem;
}

.featured>h2{
    font-size:2rem ;
}
.card-parent{
    flex-direction: column;
    padding-left: 30px;
}

.host h2{
    font-size: 2rem;
}
.about-host h3{
 font-size: 1.75rem;
}
.hoster{
    flex-direction: column;
    text-align: center;
}
.link{
    padding-left: 90px;
}


.midea{

    flex-direction: column;
}






}